In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline
import matplotlib.pyplot as plt

import os
import sys
import pandas as pd

# add src folder to path, and auto-reload it when it changes
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from src import util

data_folder = os.path.abspath(os.path.join('..','data','namesbystate'))
col_names = ['state','gender','year','name','count']
df = util.load_stitch_files(data_folder, col_names, 'txt', False)
df.sample(5)

        state gender  year     name  count
3618900    NJ      M  1985  Douglas    165
4387160    OR      F  1970   Andrea     85
3180783    NC      F  1917      Ira      6
3598860    NJ      M  1949    Aaron     12
5729375    WI      F  1945     Kaye     10

In [2]:
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

year_selected = 2010
name_selected = 'James'
query = "year == {} & name == '{}' & gender == 'M'".format(year_selected, name_selected)
ddf = df.query(query)[['state','count']].reset_index(drop=True)
ddf.head()

  state  count
0    AK     51
1    AL    335
2    AR    149
3    AZ    222
4    CA   1298

In [3]:
data = [
    go.Choropleth(
        locations = ddf['state'],
        z = ddf['count'].astype(float),
        locationmode = 'USA-states',
        marker = go.choropleth.Marker(
            line = go.choropleth.marker.Line(
                color = 'rgb(255,255,255)',
                width = 1
            )),
        colorbar = go.choropleth.ColorBar(title = "Births")
    )
]

plot_title = "Births named {} in {}".format(name_selected, year_selected)
layout = go.Layout(
    title = go.layout.Title(text = plot_title),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
iplot(fig, filename = 'd3-cloropleth-map')

In [4]:
# TODO: % of babies named James, instead of just count