# Question 21 - Expanding a data set

You're given a set of data that is aggregated on a monthly basis (as illustrated in Table A).

Can you write code that can expand this monthly table into a daily table that spreads revenue across the 30 day period (as shown in Table B)?

You can assume each month has 30 days and that Table A is in a dataframe named "df".

Table A

|index |Month |Revenue ($)|
|---|---|---|
|0 |1 |300|
|1 |2 |330|
|2 |3 |390|

Table B

|index |Month |Day |Revenue ($)|
|---|---|---|---|
|0 |1 |1 |10|
|1 |1 |2 |10|
|... |... |... |...|
|30 |2 |1 |11|
|31 |2 |2 |11|
|... |... |... |...|
|60 |3 |1 |13|
|... |... |... |...|
|89 |3 |30 |13|

In [1]:
import pandas as pd
import datetime
s = """month,rev
1,300
2,330
3,390
"""
df = pd.read_csv(pd.compat.StringIO(s))

# if you ever need to convert monthly dates to daily:
# see https://stackoverflow.com/a/29613667

# create range 1-30
days_df = pd.DataFrame({'day':list(range(1,31))})

# cross join monthly data with series of 1-30
df = (
    df
    .assign(dummy_key=1)
    .merge(days_df.assign(dummy_key=1), on='dummy_key')
    .drop('dummy_key', axis=1)
)

# replace monthly rev with daily rev
df['rev'] = df['rev'] / 30

# reorder columns
# alternative way https://stackoverflow.com/a/25122293
df = df[['month','day','rev']]

# display every 10 rows
df.iloc[::10, :]

    month  day   rev
0       1    1  10.0
10      1   11  10.0
20      1   21  10.0
30      2    1  11.0
40      2   11  11.0
50      2   21  11.0
60      3    1  13.0
70      3   11  13.0
80      3   21  13.0